torch==2.0.0
torchdata==0.6.0
torchsummary==1.5.1
torchtext==0.15.1
tqdm==4.65.0
pandas
numpy
seaborn==0.12.2
matplotlib==3.7.1
wandb
absl-py
nltk

datasets
transformers==4.28.1
evaluate
rouge_score
sacrebleu
bert_score
sentencepiece
sentence-transformers
protobuf==3.20.*